In [6]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
import os
from splinter import Browser

ModuleNotFoundError: No module named 'splinter'

In [7]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'

# Retrieve page with the requests module
response = requests.get(url)

# Create BeautifulSoup object; parse with 'lxml'
soup = BeautifulSoup(response.text, 'lxml')

In [8]:
# Extract title text and Paragragh Text. Assign the text to variables that you can reference later.
title = soup.title.text
print(title)

paragraphs = soup.find_all('p')
for paragraph in paragraphs:
    print(paragraph.text)

News  – NASA’s Mars Exploration Program
Managed by the Mars Exploration Program and the Jet Propulsion Laboratory for NASA’s Science Mission Directorate

In [9]:
##### Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called featured_image_url.
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)
url = https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars

SyntaxError: invalid syntax (<ipython-input-9-6f2e17cb02dd>, line 4)

In [13]:
# Visit the Mars Weather twitter account and scrape the latest Mars weather tweet from the page.
url = 'https://twitter.com/marswxreport?lang=en'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')

##### Save the tweet text for the weather report as a variable called mars_weather
mars_tweets = soup.find(class_='')
mars_tweets = mars_tweets.find(class_='')

mars_weather = mars_tweets.p.text
mars_weather

AttributeError: 'NoneType' object has no attribute 'find'

In [16]:
# Visit the Mars Facts webpage and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.
space_url = 'http://space-facts.com/mars/'
facts_df = pd.read_html(space_url)
facts_df = facts_df[0]
facts_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [18]:
# Use Pandas to convert the data to a HTML table string.
facts_html = facts_df.to_html(header=False, index=False, justify='left')
facts_html

'<table border="1" class="dataframe">\n  <tbody>\n    <tr>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [ ]:
# Visit the USGS Astrogeology site to obtain high resolution images for each of Mar's hemispheres.